#box1{
    margin-left: 5%;
    padding-top: 5px;
    height: 600px;
    width: 200px;
    background-color: gray;
}
#c1{
    margin-left: 5%;
    align-self: center;
    margin-top: 10%;
    height: 180px;
    width: 180px;
    border-radius: 50%;
    background-color: rgb(255, 0, 0);
}
#c2{
    margin-left: 5%;
    margin-top: 5%;
    align-items: center;
    height: 180px;
    width: 180px;
    border-radius: 50%;
    background-color: rgb(255, 230, 0);
}
#c3{
    margin-left: 5%;
    margin-top: 5%;
    height: 180px;
    width: 180px;
    border-radius: 50%;
    background-color: rgb(51, 255, 0);
}
