<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CollabSync</title>
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  </head>
    <style>
      body{
        background: url('/static/background.jpg') no-repeat center center fixed ;
        background-size: cover;
        background-color: #227bff;
      }
    </style>
  <body>

      <nav class="navbar navbar-expand-lg bg-body-tertiary d-flex" style="z-index:1">
        <div class="container-fluid">
          <a class="navbar-brand" href="{{url_for('adminhome')}}" style="float: left; color: rgb(0, 0, 0); font-size: 48px; font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; font-weight: 900; word-wrap: break-word">CollabSync</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" style="float: left; margin-left: 950px;color: rgb(0, 0, 0); font-size: 50px; font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; font-weight: 700"></a>
                <a class="nav-link active" aria-current="page" href="{{url_for('adminhome')}}" style="float: left; margin-left: 130px;color: rgb(0, 0, 0); font-size: 50px; font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; font-weight: 700">Influencers</a>
                <a class="nav-link" href="{{url_for('admincampaigns')}}" style="float: left; margin-left: 130px;color: rgb(0, 0, 0); font-size: 50px; font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; font-weight: 700">Campaigns</a>
                <a class="icon-link icon-link-hover" href="{{url_for('adminprofile')}}" style="float: left; margin-left: 1900px;position: absolute; text-align: center; color: rgb(255, 255, 255); font-size: 64px; font-family: Inter; font-weight: 400; word-wrap: break-word">
                <img class="Options" style="width: 100%; height: 100%; position: relative" src="/static/profile.png" />
              </a>
              </li>
            </div>
          </div>
        </div>
      </nav>
      {% include 'messages.html' with context%}
      <div class="AllCampaings" style="width: auto; height: auto; left: 60px; top: 150px; position: absolute; text-align: center; color: white; font-size: 60px; font-weight: 800; word-wrap: break-word; text-shadow: 2px 2px 4px #000000;">All Influencers</div>
      <div style="height: 150px;">
      </div>
      

      <div class="AllCampaings" style="width: auto; height: auto; left: 60px; top: 250px; position: absolute; text-align: left; color: white; font-size: 60px; font-weight: 800; word-wrap: break-word;">
        <div class="products">
            {% for infl in influ%}
            <div class="Campaign" style="top:10px;width: 486px; height: 500px; position: relative;">
              <div class="Rectangle10" style="box-shadow: 5px 8px 5px rgba(0, 0, 0, 0.5);width: 486px; height: 420px; left: 0px; top: 0px; position: absolute; background: white; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 65px;text-shadow: 0px 0px 0px #000000;"></div>
              <div class="Name" style="width: 500px; height: 57px; left: 0px; top: 9px; position: absolute; text-align: center; color: black; font-size: 48px; font-weight: 800; word-wrap: break-word">{{infl.name}}</div>
              <div class="UserName" style="width: 394px; height: 33px; left: 46px; top: 80px; position: absolute; text-align: center; color: black; font-size: 40px;  font-weight: 300; word-wrap: break-word">Username: {{infl.username}}</div>
              <div class="Category" style="width: 394px; height: 33px; left: 46px; top: 140px; position: absolute; text-align: center; color: black; font-size: 40px;  font-weight: 300; word-wrap: break-word">Category: {{infl.category}}</div>
              <div class="Follwers" style="width: 394px; height: 33px; left: 46px; top: 200px; position: absolute; text-align: center; color: black; font-size: 40px;  font-weight: 300; word-wrap: break-word">Followers: {{infl.followers}}</div>
              <div class="Platform" style="width: 389px; height: 119px; left: 51px; top: 255px; position: absolute; text-align: center; color: black; font-size: 40px;  font-weight: 300; word-wrap: break-word">Platform: {{infl.platform}}</div>  
              <div class="DeleteButton" style="width: 171px; height: 46px; left: 150px; top: 339px; position: absolute">
                <a class="Rectangle11" href="{{url_for('idelete_admin', id=infl.id)}}" style="width: 171px; height: 55px; left: 0px; top: 0px; position: absolute; background: #ff0808; border-radius: 50px"></a>
                <a class="Budget" href="{{url_for('idelete_admin', id=infl.id)}}" style="width: 103px; height: 28px; left: 34px; top: 0px; position: absolute; text-align: center; color: white; font-size: 32px; font-weight: 500; word-wrap: break-word;">Delete</a>
              </div>
            </div>
            {% endfor %}
            </div>
        </div>
        </div>
        {% block style %}
        <style>
            .products {
                display: flex;
                flex-wrap: wrap;
                justify-content: left;
            }
            .Campaign{
              margin: 15px;
            }
        </style>
        {% endblock %}
      
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </div>
  </body>
</html>